<h1>Todo Show</h1>

<p>
    name: <%=@todo.name%>
</p>

<p>
    description: <%=@todo.description%>
</p>

<button>
    <%= link_to "Back to Todos Listing", todos_path %>
</button>
<button>
    <%= link_to "Edit Todo", edit_todo_path(@todo) %>
</button>